@charset "utf-8";

* {
	margin: 0; padding: 0; border: 0; font-weight: normal;
}
body {
	letter-spacing: -0.5px; background-color: #f5f5f5;
}
a {
	text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
	clear: both; height: 0; border: 0;
}
img {
	vertical-align: middle;
}
ul {
	list-style-type: none;
}
aside, section {
	display: block;
}

div.mobile {
	padding: 10px; border-bottom: 1px solid #e3e3e3; background-color: #fff;
}
div.mobile > img.logo {
	float: left; margin: 4px; height: 20px;
}
div.mobile > a {
	float: right; padding: 0 8px; line-height: 28px; border-radius: 3px; color: #fff; font-size: 12px; background-color: #c62917;
}

aside {
	position: fixed; right: 0; top: 0; width: 500px; height: 100%; overflow-y: auto; -ms-overflow-style: none; border-left: 1px solid #d6d6d6; font-family: '맑은 고딕', 돋움, tahoma; background-color: #fff;
}
aside::-webkit-scrollbar {
	display: none;
}
aside > div.login {
	position: fixed; z-index: 11; top: 0; padding: 40px 15px; width:500px; height: 270px; box-sizing: border-box; background-color: #fff;
}
aside > div.login > a.logo {
	display: block; margin-bottom: 40px; text-align: center;
}
aside > div.login > a.logo > img {
	width: 28px; height: 30px;
}
aside > div.login > a.button {
	display: block; margin-bottom: 5px; height: 40px; line-height: 40px; box-sizing: border-box;
	font-size: 14px; font-weight: bold; text-align: center;
}
aside > div.login > a.button.login {
	border: 1px solid #e3e3e3; color: #737373;
}
aside > div.login > a.button.register {
	color: #fff; background-color: #FFB100;
}
aside > div.login > p {
	padding: 5px 5px 0 5px; width: 50%; box-sizing: border-box;
}
aside > div.login > p.facebook {
	float: left;
}
aside > div.login > p.find {
	float: right; text-align: right;
}
aside > div.login > p.facebook > img.loading {
	display: none;
}
aside > div.login > p.facebook > span.text,
aside > div.login > p.find > a {
	height: 15px; line-height: 15px; color: #4c4c4c; font-size: 12px; cursor: pointer;
}
aside > form.search {
	position: fixed; z-index: 11; top: 270px; padding: 5px; width: 500px; box-sizing: border-box; border-top: 2px solid #d6d6d6; border-bottom: 1px solid #e3e3e3; background-color: #fff;
}
aside > form.search > p {
	padding: 10px; line-height: 20px; 
	color: #292929; font-size: 14px; font-weight: bold;
}
aside > form.search > select {
	padding: 0 35px 0 10px; width: 49%; height: 40px; line-height: 40px; box-sizing: border-box; border: 1px solid #e3e3e3;
	color: #4c4c4c; font-size: 14px; background: #f2f2f2 no-repeat right 10px center; background-size: 15px 15px;
}
aside > div.donglist {
	position: relative; z-index: 10; top: 363px;
}
aside > div.donglist > a {
	display: block; padding: 0 15px; width: 100%; height: 100%; line-height: 50px; box-sizing: border-box; border-bottom: 1px solid #e3e3e3;
}
aside > div.donglist > a:hover {
	background-color: #f5f5f5;
}
aside > div.donglist > a > span.name {
	color: #4c4c4c; font-size: 14px;
}
aside > div.donglist > a > span.count {
	float: right; color: #a6a6a6; font-size: 12px;
}

section {
	width: 100%; box-sizing: border-box; word-break: break-all; font-family: NanumSquare; text-align: center;
}
section.white {
	background-color: #fff;
}

section.fixed-bottom {
	background-color: #fff;
	position: fixed;
  	right: 0;
	bottom: 0;
  	left: 0;
  	z-index: 1030;
}
}

section.init > div.wrap {
	position: relative; margin: 0 auto;
}
section.init > div.wrap > div.device {
	box-sizing: border-box; border: 1px solid #d6d6d6; border-bottom: 0; border-radius: 15px 15px 0 0; background-color: #fff;
}
section.init > div.wrap > div.device > div.screen {
	position: relative; border: 1px solid #e3e3e3; border-bottom: 0; background-color: #fff; overflow: hidden;
}
section.init > div.wrap > div.device > div.screen > div.image {
	opacity: 0; position: absolute; background: no-repeat; background-size: 840px 2250px;
}
section.init > div.wrap > div.device > div.screen > div.image.frame {
	z-index: 3;
}
section.init > div.wrap > div.device > div.screen > div.image.content {
	z-index: 1;
}
section.init > div.wrap > div.device > div.screen > div.image.dialog {
	z-index: 2;
}
section.init > div.wrap > div.stores {
	font-size: 0;
}
section.init > div.wrap > div.stores > a {
	display: inline-block; border: 1px solid #d6d6d6; border-radius: 6px;
}
section.init > div.wrap > div.stores > a:first-child {
	margin-right: 5px;
}
section.footer > ul.links {
	padding: 20px 0; font-size: 0;
}
section.footer > ul.links > li {
	display: inline-block; margin: 0 5px;
}
section.footer > ul.links > li > a {
	color: #4c4c4c;
}
section.footer > ul.links > li.copyright > a {
	font-family: NanumSquareEB;
}
section h1,
section h2 {
	color: #292929;
}
section h1 > strong,
section h2 > strong {
	color: #FFB100; font-family: NanumSquareEB;
}
section div.paragraph > p {
	color: #4c4c4c;
}
section div.paragraph > p > strong {
	font-family: NanumSquareEB;
}
section div.figures {
	font-size: 0;
}
section div.figures > div {
	display: inline-block;
}
section div.figures > div > p.number {
	color: #292929; font-family: NanumSquareEB;
}
section div.figures > div > p.number > strong {
	display: inline-block; margin-left: 5px; letter-spacing: -2px;
}
section div.figures > div > p.number > span {
	display: inline-block; margin: 0 5px;
}
section div.figures > div > p.description {
	color: #4c4c4c;
}
section div.figures > div > p.icon {
	margin: 0 auto; border-radius: 50px; background-color: #fff;
}

section.init > div.wrap > div.device > div.screen > div.home-frame {
	opacity: 1; animation: active-init-home-frame 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.home-content {
	opacity: 1; animation: active-init-home-content 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.board-frame {
	animation: active-init-board-frame 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.board-content {
	animation: active-init-board-content 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.timetable-status {
	animation: active-init-timetable-status 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.timetable-frame {
	animation: active-init-timetable-frame 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.timetable-content {
	animation: active-init-timetable-content 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.subject1-dialog {
	animation: active-init-subject1-dialog 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.subject2-dialog {
	animation: active-init-subject2-dialog 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.subject3-dialog {
	animation: active-init-subject3-dialog 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device > div.screen > div.subject4-dialog {
	animation: active-init-subject4-dialog 20s infinite; animation-play-state: paused;
}
section.init > div.wrap > div.device.active > div.screen > div.home-frame,
section.init > div.wrap > div.device.active > div.screen > div.home-content,
section.init > div.wrap > div.device.active > div.screen > div.board-frame,
section.init > div.wrap > div.device.active > div.screen > div.board-content,
section.init > div.wrap > div.device.active > div.screen > div.timetable-status,
section.init > div.wrap > div.device.active > div.screen > div.timetable-frame,
section.init > div.wrap > div.device.active > div.screen > div.timetable-content,
section.init > div.wrap > div.device.active > div.screen > div.subject1-dialog,
section.init > div.wrap > div.device.active > div.screen > div.subject2-dialog,
section.init > div.wrap > div.device.active > div.screen > div.subject3-dialog,
section.init > div.wrap > div.device.active > div.screen > div.subject4-dialog {
	animation-play-state: running;
}
@keyframes active-init-home-frame {
	0% { opacity: 1; }
	35% { opacity: 1; }
	36% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-home-content {
	0% { opacity: 0; transform: translateY(0px); }
	1% { opacity: 1; transform: translateY(0px); }
	11% { opacity: 1; transform: translateY(0px); }
	12% { opacity: 1; transform: translateY(-360px); }
	22% { opacity: 1; transform: translateY(-360px); }
	23% { opacity: 1; transform: translateY(-760px); }
	28% { opacity: 1; transform: translateY(-760px); }
	29% { opacity: 1; transform: translateY(-1000px); }
	34% { opacity: 1; transform: translateY(-1000px); }
	35% { opacity: 0; transform: translateY(-1000px); }
	100% { opacity: 0; transform: translateY(0px); }
}
@keyframes active-init-board-frame {
	0% { opacity: 0; }
	34% { opacity: 0; }
	35% { opacity: 1; }
	51% { opacity: 1; }
	52% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-board-content {
	0% { opacity: 0; }
	34% { opacity: 0; }
	35% { opacity: 1; }
	50% { opacity: 1; }
	51% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-timetable-status {
	0% { opacity: 0; }
	50% { opacity: 0; }
	51% { opacity: 1; }
	100% { opacity: 1; }
}
@keyframes active-init-timetable-frame {
	0% { opacity: 0; }
	50% { opacity: 0; }
	51% { opacity: 1; }
	61% { opacity: 1; }
	62% { opacity: 0; }
	85% { opacity: 0; }
	86% { opacity: 1; }
	100% { opacity: 1; }
}
@keyframes active-init-timetable-content {
	0% { opacity: 0; transform: translateY(0px); }
	50% { opacity: 0; transform: translateY(0px); }
	51% { opacity: 1; transform: translateY(0px); }
	61% { opacity: 1; transform: translateY(0px); }
	62% { opacity: 1; transform: translateY(-64px); }
	85% { opacity: 1; transform: translateY(-64px); }
	86% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes active-init-subject1-dialog {
	0% { opacity: 0; }
	61% { opacity: 0; }
	62% { opacity: 1; }
	68% { opacity: 1; }
	69% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-subject2-dialog {
	0% { opacity: 0; }
	67% { opacity: 0; }
	68% { opacity: 1; }
	74% { opacity: 1; }
	75% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-subject3-dialog {
	0% { opacity: 0; }
	73% { opacity: 0; }
	74% { opacity: 1; }
	80% { opacity: 1; }
	81% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-subject4-dialog {
	0% { opacity: 0; }
	79% { opacity: 0; }
	80% { opacity: 1; }
	85% { opacity: 1; }
	86% { opacity: 0; }
	100% { opacity: 0; }
}

section.community > div.figures.active > div > p.icon > img {
	-webkit-animation: active-community 1s ease-out; animation: active-community 1s ease-out;
}
section.community > div.figures.active > div:nth-of-type(1) > p.icon > img {
	-webkit-animation-duration: 0.6s; animation-duration: 0.6s;
}
section.community > div.figures.active > div:nth-of-type(2) > p.icon > img {
	-webkit-animation-duration: 0.8s; animation-duration: 0.8s;
}
section.community > div.figures.active > div:nth-of-type(3) > p.icon > img {
	-webkit-animation-duration: 1s; animation-duration: 1s;
}
@-webkit-keyframes active-community {
	0% { opacity: 0; -webkit-transform: translateY(20px); }
	50% { opacity: 0; -webkit-transform: translateY(20px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@keyframes active-community {
	0% { opacity: 0; transform: translateY(20px); }
	50% { opacity: 0; transform: translateY(20px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@media only screen and (min-width: 1281px) {
	section.init > div.wrap {
		width: 790px; height: 640px;
	}
	section.init > div.wrap > div.device {
		top: 120px; left: 0;
	}
	section.init > div.wrap > h1 {
		top: 290px; left: 410px; width: 380px;
	}
	section.init > div.wrap > div.stores {
		top: 400px; left: 410px;
	}
	section h1,
	section h2 {
		line-height: 35px; font-size: 28px;
	}
	section h2 {
		padding: 120px 0 40px 0;
	}
	section div.paragraph {
		padding-bottom: 80px;
	}
	section div.paragraph > p {
		line-height: 28px; font-size: 18px;
	}
	section div.figures {
		padding-bottom: 120px;
	}
	section div.figures > div {
		margin: 0 48px;
	}
	section div.figures > div > p.number > strong {
		font-size: 38px;
	}
	section div.figures > div > p.number > span {
		font-size: 18px;
	}
	section div.figures > div > p.description {
		margin-top: 10px; font-size: 16px;
	}
	section div.figures > hr {
		margin: 0 -24px 25px -24px; height: 20px;
	}
	section div.figures > div > p.icon {
		width: 100px; height: 100px; line-height: 100px;
	}
	section div.figures > div > p.icon > img {
		height: 48px;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1280px) {
	section.init > div.wrap {
		width: 690px; height: 600px;
	}
	section.init > div.wrap > h1 {
		top: 260px; left: 370px; width: 320px;
	}
	section.init > div.wrap > div.stores {
		top: 360px; left: 370px;
	}
	section.init > div.wrap > div.device {
		top: 80px; left: 0;
	}
	section h1,
	section h2 {
		line-height: 30px; font-size: 24px;
	}
	section h2 {
		padding: 80px 0 30px 0;
	}
	section div.paragraph {
		padding-bottom: 60px;
	}
	section div.paragraph > p {
		line-height: 25px; font-size: 16px;
	}
	section div.figures {
		padding-bottom: 80px;
	}
	section div.figures > div {
		margin: 0 36px;
	}
	section div.figures > div > p.number > strong {
		font-size: 32px;
	}
	section div.figures > div > p.number > span {
		font-size: 16px;
	}
	section div.figures > div > p.description {
		margin-top: 10px; font-size: 14px;
	}
	section div.figures > hr {
		margin: 0 -12px 20px -12px; height: 20px;
	}
	section div.figures > div > p.icon {
		width: 80px; height: 80px; line-height: 80px;
	}
	section div.figures > div > p.icon > img {
		height: 32px;
	}
}

@media only screen and (min-width: 991px) {
	section.withaside {
		padding-right: 301px;
	}
	section.init > div.wrap > h1 {
		position: absolute; text-align: left;
	}
	section.init > div.wrap > div.stores {
		position: absolute;
	}
	section.init > div.wrap > div.stores > a {
		padding: 0 15px; height: 58px; line-height: 58px;
	}
	section.init > div.wrap > div.stores > a > img {
		height: 30px;
	}
	section.init > div.wrap > div.device {
		position: absolute; width: 290px; height: 520px;
	}
	section.init > div.wrap > div.device > div.screen {
		margin: 38px 8px 0 8px; width: 270px; height: 480px;
	}
	section.init > div.wrap > div.device > div.screen > div.image {
		background-size: 840px auto;
	}
	section.init > div.wrap > div.device > div.screen > div.home-frame {
		top: 0; width: 270px; height: 480px; background-position: 0px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.home-content {
		top: 87px; width: 270px; height: 1400px; background-position: -0px -495px;
	}
	section.init > div.wrap > div.device > div.screen > div.board-frame {
		top: 0; width: 270px; height: 480px; background-position: -285px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.board-content {
		top: 73px; width: 270px; height: 450px; background-position: -285px -495px;
	}
	section.init > div.wrap > div.device > div.screen > div.timetable-status {
		top: 0; width: 270px; height: 18px; background-position: -570px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.timetable-frame {
		top: 0; width: 270px; height: 480px; background-position: -570px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.timetable-content {
		top: 87px; width: 270px; height: 378px; background-position: -570px -495px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject1-dialog {
		top: 183px; width: 270px; height: 296px; background-position: -570px -888.75px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject2-dialog {
		top: 183px; width: 270px; height: 296px; background-position: -570px -1200px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject3-dialog {
		top: 183px; width: 270px; height: 296px; background-position: -570px -1511.25px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject4-dialog {
		top: 183px; width: 270px; height: 296px; background-position: -570px -1822.5px;
	}
	section.footer > ul.links > li > a {
		font-size: 13px;
	}
	section div.figures > hr {
		display: inline-block; border-right: 2px solid #d6d6d6;
	}
}

@media only screen and (max-width: 990px) {
	aside {
		display: none;
	}
	section.init > div.wrap > h1 {
		padding: 50px 0 20px 0;
	}
	section.init > div.wrap > div.stores {
		padding-bottom: 20px;
	}
	section.init > div.wrap > div.stores > a {
		padding: 0 15px; height: 38px; line-height: 38px;
	}
	section.init > div.wrap > div.stores > a > img {
		height: 20px;
	}
	section.init > div.wrap > div.device {
		margin: 0 auto; width: 190px; height: 340px;
	}
	section.init > div.wrap > div.device > div.screen {
		margin: 18px 3px 0 3px; width: 180px; height: 320px;
	}
	section.init > div.wrap > div.device > div.screen > div.image {
		background-size: 560px 1412.5px;
	}
	section.init > div.wrap > div.device > div.screen > div.home-frame {
		top: 0; width: 180px; height: 320px; background-position: 0px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.home-content {
		top: 58px; width: 180px; height: 935px; background-position: -0px -330px;
	}
	section.init > div.wrap > div.device > div.screen > div.board-frame {
		top: 0; width: 180px; height: 320px; background-position: -190px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.board-content {
		top: 49px; width: 180px; height: 300px; background-position: -190px -330px;
	}
	section.init > div.wrap > div.device > div.screen > div.timetable-status {
		top: 0; width: 180px; height: 12px; background-position: -380px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.timetable-frame {
		top: 0; width: 180px; height: 320px; background-position: -380px 0px;
	}
	section.init > div.wrap > div.device > div.screen > div.timetable-content {
		top: 58px; width: 180px; height: 252px; background-position: -380px -330px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject1-dialog {
		top: 123px; width: 180px; height: 197px; background-position: -380px -592.5px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject2-dialog {
		top: 123px; width: 180px; height: 197px; background-position: -380px -800px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject3-dialog {
		top: 123px; width: 180px; height: 197px; background-position: -380px -1007.5px;
	}
	section.init > div.wrap > div.device > div.screen > div.subject4-dialog {
		top: 123px; width: 180px; height: 197px; background-position: -380px -1215px;
	}
	section.footer > ul.links > li > a {
		font-size: 11px;
	}
	section h1,
	section h2 {
		line-height: 25px; font-size: 18px;
	}
	section h2 {
		padding: 50px 0 20px 0;
	}
	section div.paragraph {
		padding-bottom: 50px;
	}
	section div.paragraph > p {
		line-height: 18px; font-size: 12px;
	}
	section div.figures {
		padding-bottom: 50px;
	}
	section div.figures > div {
		margin: 0 10px;
	}
	section div.figures > div > p.number {
		float: right; width: 140px; text-align: right;
	}
	section div.figures > div > p.number > strong {
		line-height: 36px; font-size: 28px;
	}
	section div.figures > div > p.number > span {
		margin-top: 10px; line-height: 20px; font-size: 11px; vertical-align: top;
	}
	section.service div.figures > div > p.description {
		float: left; margin-top: 10px; width: 80px; line-height: 20px; font-size: 11px; text-align: left;
	}
	section.community div.figures > div > p.description {
		margin-top: 10px; font-size: 11px;
	}
	section div.figures > hr {
		display: block; margin: 0 auto 10px 0;
	}
	section div.figures > div > p.icon {
		width: 60px; height: 60px; line-height: 60px;
	}
	section div.figures > div > p.icon > img {
		height: 24px;
	}

	@keyframes active-init-home-content {
		0% { opacity: 0; transform: translateY(0px); }
		1% { opacity: 1; transform: translateY(0px); }
		11% { opacity: 1; transform: translateY(0px); }
		12% { opacity: 1; transform: translateY(-240px); }
		22% { opacity: 1; transform: translateY(-240px); }
		23% { opacity: 1; transform: translateY(-505px); }
		28% { opacity: 1; transform: translateY(-505px); }
		29% { opacity: 1; transform: translateY(-665px); }
		34% { opacity: 1; transform: translateY(-665px); }
		35% { opacity: 0; transform: translateY(-665px); }
		100% { opacity: 0; transform: translateY(0px); }
	}
	@keyframes active-init-timetable-content {
		0% { opacity: 0; transform: translateY(0px); }
		50% { opacity: 0; transform: translateY(0px); }
		51% { opacity: 1; transform: translateY(0px); }
		61% { opacity: 1; transform: translateY(0px); }
		62% { opacity: 1; transform: translateY(-42px); }
		85% { opacity: 1; transform: translateY(-42px); }
		86% { opacity: 1; transform: translateY(0px); }
		100% { opacity: 1; transform: translateY(0px); }
	}
}
